@media (max-width: 1024px) {
  .my-projects-section {
    display: none;
  }
  .heading {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .paragraph {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 150%;
    color: var(--grey-30);
  }
  .text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .image-icon {
    align-self: stretch;
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    height: 233px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 0;
  }
  .image-icon1 {
    flex: 1;
    position: relative;
    border-radius: var(--br-9xs);
    max-width: 100%;
    overflow: hidden;
    height: 47px;
    object-fit: cover;
  }
  .sub-container1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    z-index: 1;
  }
  .icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button {
    margin: 0 !important;
    position: absolute;
    right: 10px;
    bottom: 77px;
    border-radius: var(--br-7xs);
    background-color: var(--peach-96);
    border: 1px solid var(--peach-90);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    z-index: 2;
  }
  .container1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-xl);
  }
  .card {
    align-self: stretch;
    border-radius: 10px;
    background-color: var(--peach-96);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    gap: var(--gap-xl);
  }
  .icon1 {
    position: relative;
    width: 26px;
    height: 26px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button1 {
    border-radius: var(--br-7xs);
    background-color: var(--peach-98);
    border: 1px solid var(--peach-85);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs);
  }
  .indicator {
    position: relative;
    border-radius: var(--br-33xl);
    background-color: var(--purple-50);
    width: 30px;
    height: 5px;
  }
  .indicator1 {
    position: relative;
    border-radius: var(--br-33xl);
    background-color: var(--peach-85);
    width: 30px;
    height: 5px;
  }
  .indicators {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .buttons-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--padding-xl);
  }
  .sub-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .text {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .button3 {
    border-radius: var(--br-7xs);
    background-color: var(--purple-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 14px var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--peach-99);
  }
  .container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    font-size: 16px;
  }
  .mobile-my-projects-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    text-align: center;
    font-size: 28px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
  }
}
