.projects-heading {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.projects-paragraph {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 150%;
    color: var(--grey-30);
}
.projects-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 300px;
    gap: 6px;
}
.projects-image-icon {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    height: 311px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 0;
}
.projects-image-icon1 {
    flex: 1;
    position: relative;
    border-radius: var(--br-7xs);
    max-width: 100%;
    overflow: hidden;
    height: 68px;
    object-fit: cover;
}
.projects-sub-container1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    z-index: 1;
}
.projects-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.projects-button {
    margin: 0 !important;
    position: absolute;
    right: 10px;
    bottom: 98px;
    border-radius: var(--br-5xs);
    background-color: var(--peach-96);
    border: 1px solid var(--peach-90);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    z-index: 2;
}
.projects-container2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-xl);
}
.projects-card {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--peach-96);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-31xl);
    gap: var(--gap-11xl);
}
.projects-sub-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
}
.projects-text {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.projects-button2 {
    border-radius: var(--br-5xs);
    background-color: var(--purple-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 24px;
    font-size: var(--font-size-lg);
    color: var(--peach-99);
}
.projects-container1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    text-align: left;
    font-size: var(--font-size-xl);
}
.projects-container {
    position: absolute;
    top: 0px;
    left: calc(50% - 798px);
    width: 1596px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}
.my-projects-section {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    height: 857px;
    overflow: hidden;
    text-align: center;
    font-size: 48px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
}

