.skills-heading {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.skills-heading-main {
  width: 100%;
  position: relative;
  font-size: 48px;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--grey-20);
  text-align: center;
  display: inline-block;
}
.skills-paragraph {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--grey-30);
}
.skills-text-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 300px;
  gap: 6px;
}
.skills-icon {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}
.skills-icon-container {
  border-radius: var(--br-5xs);
  background-color: var(--purple-50);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.skills-text-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.skills-card {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
}
.skills-sub-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.skills-frontend {
  margin: 0;
}
.skills-paragraph3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--grey-30);
  white-space: pre-wrap;
}
.skills-image-1-icon {
  position: relative;
  width: 43.85px;
  height: 45px;
  object-fit: cover;
}
.skills-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-5xl);
}
.skills-container {
  position: absolute;
  top: 0px;
  left: calc(50% - 798px);
  width: 1596px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.skills-section {
  position: relative;
  width: 100%;
  padding: 100px 0;
  height: 910px;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  color: var(--grey-20);
  font-family: var(--font-manrope);
}
.mobile-skills-section {
  display: none;
}

@media (max-width: 1600px) {
  .skills-heading {
    width: 100%;
    font-size: 20px;
    font-family: var(--font-manrope);
    color: var(--grey-20);
    text-align: center;
    display: inline-block;
  }
  .skills-heading-main {
    font-size: 38px;
  }
  .skills-paragraph {
    width: 100%;
    font-size: 16px;
    font-family: var(--font-manrope);
    text-align: center;
    display: inline-block;
  }
  .skills-frontend {
    width: 100%;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-family: var(--font-manrope);
    color: var(--grey-30);
    white-space: pre-wrap;
    text-align: center;
    display: inline-block;
  }
  .skills-text-container {
    padding: 0px 250px;
    gap: 2px;
  }
  .skills-icon {
    width: 30px;
    height: 30px;
  }
  .skills-icon-container {
    padding: var(--padding-xs);
  }
  .skills-text-container1 {
    gap: 8px;
  }
  .skills-card {
    width: 100%;
    position: relative;
    border-radius: 12px;
    padding: 40px;
    box-sizing: border-box;
    gap: 24px;
    text-align: center;
    font-size: 20px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
  }
  .skills-sub-container {
    gap: var(--gap-xl);
  }
  .skills-container1 {
    gap: var(--gap-xl);
    font-size: var(--font-size-xl);
  }
  .skills-container {
    left: calc(50% - 640px);
    width: 1280px;
    gap: 60px;
  }
  .skills-section {
    height: 675px;
    font-size: 38px;
  }
}

@media (max-width: 1301px) {
  .skills-section {
    display: none;
  }
  .mobile-skills-heading {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .mobile-skills-paragraph {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 150%;
    color: var(--grey-30);
  }
  .mobile-skills-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
  }
  .mobile-skills-icon {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mobile-skills-icon-container {
    border-radius: var(--br-5xs);
    background-color: var(--purple-50);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs);
  }
  .mobile-skills-text-container1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .mobile-skills-card {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--peach-96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-21xl);
    gap: var(--gap-5xl);
  }
  .mobile-skills-sub-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 20px;
    font-size: var(--font-size-lg);
  }
  .mobile-skills-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
    font-size: 28px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
    margin-bottom: 60px;
  }
}
