.mobile-portfolio-container {
  display: none;
}
.portfolio-icon {
  position: relative;
  width: 34px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.portfolio-icon-container {
  border-radius: var(--br-5xs);
  background-color: var(--purple-50);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.portfolio-heading {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.portfolio-paragraph {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 150%;
  color: var(--grey-30);
}
.portfolio-text-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.portfolio-text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.portfolio-container1 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--peach-90);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-7xs);
}
.portfolio-sub-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.portfolio-container {
  border-radius: 12px;
  background-color: var(--peach-96);
  width: 1596px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 300px;
  box-sizing: border-box;
  gap: 40px;
}
.portfolio {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 162px;
  box-sizing: border-box;
  text-align: center;
  font-size: 48px;
  color: var(--grey-20);
  font-family: var(--font-manrope);
  margin: 100px 0;
}
@media (max-width: 1600px) {
  .portfolio-icon {
    position: relative;
    width: 28px;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .portfolio-icon-container {
    border-radius: var(--br-7xs);
    background-color: var(--purple-50);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs);
  }
  .portfolio-heading {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .portfolio-paragraph {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 150%;
    color: var(--grey-30);
  }
  .portfolio-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .portfolio-icon1 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .portfolio-text {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .portfolio-container1 {
    border-radius: var(--br-7xs);
    border: 1px solid var(--peach-90);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-9xs);
  }
  .portfolio-sub-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-align: left;
    font-size: var(--font-size-base);
  }
  .portfolio-container {
    border-radius: 10px;
    background-color: var(--peach-96);
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 250px;
    box-sizing: border-box;
    gap: 30px;
  }
  .portfolio-portfolio {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 38px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
    margin: 80px 0;
  }
  .mobile-portfolio-container {
    display: none;
  }
}
@media (max-width: 1360px) {
  .portfolio {
    display: none;
  }
  .mobile-portfolio-icon {
    position: relative;
    width: 28px;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mobile-portfolio-icon-container {
    border-radius: var(--br-7xs);
    background-color: var(--purple-50);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
  }
  .mobile-portfolio-heading {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .mobile-portfolio-paragraph {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 150%;
    color: var(--grey-30);
  }
  .mobile-portfolio-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .mobile-portfolio-icon1 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mobile-portfolio-text {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .mobile-portfolio-container1 {
    flex: 1;
    border-radius: var(--br-7xs);
    border: 1px solid var(--peach-90);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-sm);
    gap: var(--gap-9xs);
    min-width: 175px;
  }
  .mobile-portfolio-sub-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-align: left;
    font-size: var(--font-size-sm);
  }
  .mobile-portfolio-container {
    position: relative;
    border-radius: 10px;
    background-color: var(--peach-96);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 30px;
    box-sizing: border-box;
    gap: 30px;
    text-align: center;
    font-size: 28px;
    color: var(--grey-20);
    font-family: var(--font-manrope);
    margin: 30px 0 60px 0;
  }
}
